@model IEnumerable<NET_Mom2.Models.Horses> // Läsa in hästar

<h2>Lagrade hästar</h2>
<!-- Tabell för att skriva ut hästar -->
<table id="horse-table">

    <!-- Tabell header -->
    <thead>
        <tr>
            <th>Nummer</th>
            <th>Namn</th>
            <th>Smeknamn</th>
            <th>Kön</th>
            <th>Ras</th>
            <th>Level</th>
        </tr>
    </thead>

    <!-- Skriva ut alla hästar -->
    <tbody>

    @foreach (var horse in Model)
    {
        <tr>
            <td>@horse.Id</td>
            <td>@horse.HorseName</td>
            <td>@horse.HorseNickname</td>
            <td>@horse.HorseGender</td>
            <td>@horse.HorseBreed</td>
            <td>@horse.HorseLevel</td>
        </tr>
    }

    </tbody>

</table>