@using NET_Mom2.Models
@model NET_Mom2.Models.Horses;
@{
    ViewData["Title"] = "Dina hästar";

    var data = ViewBag.Horses; // Lista på hästar
}

<h2>Dina hästar</h2>

<p>Här kan du lagra information om dina hästar!</p>

<h2>Lägg till häst</h2>
<!-- Formulär för att lägga till hästar -->
<form method="post" id="horse-form">

    <div class="form-box">
        <label asp-for="HorseName">Namn:</label><br />
        <input type="text" name="HorseName" id="HorseName"><br />
    </div>

    <div class="form-box">
        <label asp-for="HorseNickname">Smeknamn:</label><br />
        <input type="text" name="HorseNickname" id="HorseNickname">
    </div>

    <div class="form-box">
        <label asp-for="HorseGender">Kön:</label><br />
        <select name="HorseGender" id="HorseGender">
            <option value="Sto">Sto</option>
            <option value="Hingst">Hingst</option>
            <option value="Valack">Valack</option>
        </select><br />
    </div>

    <div class="form-box">
        <label asp-for="HorseBreed">Ras:</label><br />
        <input type="text" name="HorseBreed" id="HorseBreed">
    </div>

    <div class="form-box">
        <label asp-for="HorseLevel">Level:</label><br />
        <input type="number" name="HorseLevel" id="HorseLevel">
    </div>

    <div class="form-box submit-btn">
        <input type="submit" value="Lägg till">
    </div>

</form><br />

<h2>Lagrade hästar</h2>
<!-- Tabell för att skriva ut hästar -->
<table id="horse-table">

    <!-- Tabell header -->
    <thead>
        <tr>
            <th>Nummer</th>
            <th>Namn</th>
            <th>Smeknamn</th>
            <th>Kön</th>
            <th>Ras</th>
            <th>Level</th>
        </tr>
    </thead>

    <!-- Skriva ut alla hästar -->
    <tbody>

    @{
        var i = 0; // Variabel för "ID"/nummer
        @foreach (var horse in data) {
            i++; // Ökar nummer för varje rad av data

            <tr>
                <td>@i</td>
                <td>@horse.HorseName</td>
                <td>@horse.HorseNickname</td>
                <td>@horse.HorseGender</td>
                <td>@horse.HorseBreed</td>
                <td>@horse.HorseLevel</td>
            </tr>
        }
    }

    </tbody>

</table>